<nav class="p-3 m-0 fixed-bottom bg-white mat-elevation-z8">
    <div class="d-flex justify-content-around">
        <div>
            <i class="material-icons cursor-pointer">newspaper</i>
        </div>
        <div>
            <i (click)="openAnuncios()" class="material-icons cursor-pointer" alt="Publicar">add</i>
        </div>
        <div>
            <i class="material-icons cursor-pointer">location_on</i>
        </div>
        <div>
            <i class="material-icons cursor-pointer">person</i>
        </div>
    </div>
</nav>