<div class="text-center creepster-regular">
    ghostskate
</div>
<div class="d-flex justify-content-center mt-3">
    <img class="img-fluid" src="../../../assets/3ohze2IqF09aevkCVa.webp" alt="">
</div>
<p>
    Criado por <span (click)="sendToPortifolio()" class="link-felipe">Felipe Bernardo</span>, skatista e desenvolvedor
    web, a GhostSkate é uma
    plataforma
    projetada para fortalecer a cena do skate. <br> Aqui, você encontrará informações sobre pistas e picos, que são
    inseridos pelos próprios usuários da plataforma. <br> Além disso, a GhostSkate também oferece um espaço para
    anunciar
    peças, equipamentos ou até mesmo vestimentas para troca ou doação. <br> Qualquer postagem com fins lucrativos será
    excluída, podendo o usuário ter sua conta banida. <br><br> Atenciosamente, Felipe. <br><br> Skate pra sempre.
</p>