<div *ngIf="loader">
    <div class="d-flex justify-content-center mt-3">
        <img class="img-fluid" src="../../../assets/3ohze2IqF09aevkCVa.webp" alt="">
    </div>
    <div class="text-center charge">
        Carregando...
    </div>
</div>

<div *ngIf="!loader" class="row justify-content-center mt-3">
    <div class="col-lg-6 mt-3">
        <div class="d-flex justify-content-center">
            <mat-card (click)="openCreateLocal()" class="mat-elevation-z4 w-75">
                <div class="text-center">
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            <img src="../../../assets/local.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="mt-3">
                        <strong>
                            PISTAS E PICOS
                        </strong>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="col-lg-6 mt-3">
        <div class="d-flex justify-content-center">
            <mat-card class="mat-elevation-z4 w-75">
                <div class="text-center">
                    <div class="d-flex justify-content-center">
                        <div class="w-50">
                            <img src="../../../assets/remando.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="mt-3">
                        <strong>
                            PEÇAS E EQUIPAMENTOS
                        </strong>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>