@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-style: normal;
    font-size: 20px;
}

.font-small {
    font-size: 10px;
}