@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-style: normal;
    font-size: 20px;
}

.header-image {
    background-size: cover;
}

.title-center {
    font-size: 80%;
    display: flex;
    align-items: center;
}

.margin-icon {
    margin-right: 8px;
}

textarea {
    font-size: 80%;
    border: none;
    background-color: none;
    background: none;
    color: black;
    resize: none;
}

.image-card {
    height: 40svh;
}

.selected {
    border: none;
    background: blue;
    color: white;
}

.likes-coments-font {
    font-size: 70%;
}