<div *ngIf="loader">
    <div class="d-flex justify-content-center mt-3">
        <img class="img-fluid" src="../../../assets/3ohze2IqF09aevkCVa.webp" alt="">
    </div>
    <div class="text-center creepster-regular ">
        Carregando...
    </div>
</div>

<div *ngIf="!loader">
    <div *ngIf="local.length != 0">
        <div class="text-center creepster-regular">
            Spots
        </div>
        <div class="d-flex justify-content-end">
            <mat-form-field appearance="fill" class="w-50 mt-3">
                <mat-label>Filtrar por cidade</mat-label>
                <mat-select>
                    <mat-option (click)="setAllLocals()" value="todos">Todos</mat-option>
                    <mat-option (click)="filterLocals(item)" *ngFor="let item of cities"
                        [value]="item">{{item}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row justify-content-center">
            <div *ngFor="let item of local; let i = index" class="col-lg-6 mt-2">
                <mat-card class="mat-elevation-z8 p-0">
                    <div class="row w-100 p-3">
                        <div class="col-2">
                            <div class="d-flex justify-content-center">
                                <div mat-card-avatar id="avatar" class="header-image"
                                    [ngStyle]="{'background-image': 'url(' + getImageSkaterProfile(item.skater.image_profile[0].file_name) + ')'}">
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <div>
                                {{item.skater.name}}
                            </div>
                            <div>
                                {{convertTime(item.created_at)}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="item.images && item.images.length != 0" class="w-100">
                        <div [attr.id]="item.id" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div *ngFor="let img of item.images; let i = index"
                                    [class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
                                    <img [src]="storageUrl + '/' + img.file_name" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#' + item.id"
                                data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#' + item.id"
                                data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <div class="p-3">
                        <div class="d-flex justify-content-center title-center ">
                            <i class="material-icons margin-icon">flag</i> {{item.title}}
                        </div>
                        <div class="row mt-3">
                            <div class="col-8">
                                <span class="title-center">
                                    <i class="material-icons margin-icon">pin_drop</i> {{item.address_street}},
                                    {{item.address_number}}
                                    -
                                    {{item.address_city}}/{{item.address_estate}}
                                </span>
                            </div>
                            <div class="col-4">
                                <span class=" title-center">
                                    <i class="material-icons margin-icon">skateboarding</i> {{item.access ?
                                    'Público':'Privado' }}
                                </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <textarea disabled [value]="item.description" [rows]="calculateRows(item.description)"
                                    class="w-100"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <button [disabled]="buttonLikeDisabled" (click)="sendLikeLocal(item.id, item.likes)"
                                    [class]="checkLikes(item.likes) ? 'btn btn-sm btn-outline-primary w-100 text-center selected' : 'btn btn-sm btn-outline-primary w-100 text-center' ">
                                    <i class="material-icons mt-2">favorite</i>
                                </button>
                                <div *ngIf="item.likes.length != 0" class="text-center mt-2 likes-coments-font">
                                    {{item.likes.length}} {{item.likes.length == 1 ? 'Curtida' : 'Curtidas' }}
                                </div>
                            </div>
                            <div class="col-6">
                                <button (click)="openComments(item.coments, item.id)"
                                    class="btn btn-sm btn-outline-primary w-100 text-center">
                                    <i class="material-icons mt-2">chat</i>
                                </button>
                                <div *ngIf="item.coments.length != 0" class="text-center mt-2 likes-coments-font">
                                    {{item.coments.length}} {{item.coments.length == 1 ? 'Comentário' : 'Comentários'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="local.length == 0">
        <div class="mt-3 text-center">
            <p>
                Não existem registros até o momento, cadastre-se e adicione spots.
            </p>
        </div>
    </div>
</div>