<nav class="fixed-top bg-white">
    <mat-card class="w-100" style="border-radius: 0;">
        <div class="row">
            <div class="col-2">
                <div (click)="goToProfile()" mat-card-avatar id="avatar" class="header-image"
                    [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
            </div>
            <div class="col-8 text-center">
                <span class="creepster-regular">
                    ghostskate
                </span>
            </div>
            <div class="col-2 text-center">
                <i class="material-icons cursor-pointer">info</i>
            </div>
        </div>
    </mat-card>
</nav>