<nav class="fixed-top bg-white">
    <mat-card class="w-100">
        <div class=" row">
            <div class="col-2">
                <div mat-card-avatar class="example-header-image"></div>
            </div>
            <div class="col-8 text-center">
                <span class="creepster-regular">
                    Skate Flip
                </span>
            </div>
            <div class="col-2 text-center">
                <i class="material-icons cursor-pointer">info</i>
            </div>
        </div>
    </mat-card>
</nav>