<mat-card class="mt-3 mat-elevation-z4">
    <div class="text-center">
        <p>Login</p>
    </div>
    <form>
        <mat-card-content>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="Digite seu e-mail" [(ngModel)]="login.email" name="email" required>
                <mat-error>O campo e-mail é obrigatório</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Senha</mat-label>
                <input matInput placeholder="Digite sua senha" [type]="hide ? 'password' : 'text'"
                    [(ngModel)]="login.password" name="password" required>
                <i mat-icon-button matSuffix (click)="showPassword()" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" class="material-icons icone-hide">{{hide? 'visibility_off' :
                    'visibility'}}</i>
                <mat-error>O campo senha é obrigatório</mat-error>
            </mat-form-field>
        </mat-card-content>
        <div class="d-flex justify-content-center mt-1">
            <button mat-raised-button class="w-100 bg-primary text-light" (click)="logIn()">Login</button>
        </div>
    </form>
    <div class="mt-4">
        <p>Ainda não possui conta? Clique <span class="registry text-primary" (click)="registry()">aqui</span> e se
            cadastre!</p>
    </div>
</mat-card>