@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-style: normal;
    font-size: 20px;
}

.registry {
    cursor: pointer;
}

.registry:hover {
    text-decoration: underline;
}