<div *ngIf="data.coments.length == 0">
    <p>
        Nenhum comentário até o momento
    </p>
</div>

<div *ngIf="data.coments.length != 0" class="coments p-2">
    <mat-card *ngFor="let item of data.coments" class="mt-2 mat-elevation-z2">
        <div class="row">
            <div class="col-6 p-0">
                <div mat-card-avatar id="avatar" class="header-image m-0"
                    [ngStyle]="{'background-image': 'url(' + returnImage(item.skater.image_profile[0].file_name) +')'}">
                </div>
                <div class="font-title m-2">
                    {{item.skater.name}}
                </div>
            </div>
            <div class="col-6 text-end">
                {{convertTime(item.date)}}
            </div>
        </div>
        <div class="row p-1 mt-3">
            <textarea disabled [rows]="countRows(item.coment)" [value]="item.coment" class="text-coment"></textarea>
        </div>
    </mat-card>
</div>

<div *ngIf="userAuthenticate()" class="mt-3">
    <div class="row">
        <mat-form-field appearance="fill" class="w-100 mt-2">
            <mat-label>Adicionar comentário</mat-label>
            <textarea matInput [(ngModel)]="commentPayload.coment" name="coment" rows="1"></textarea>
            <mat-error>O campo comentário é obrigatório</mat-error>
        </mat-form-field>
    </div>
    <div class="row">
        <button (click)="sendComent()" class="btn btn-sm btn-primary w-100">Enviar</button>
    </div>
</div>