/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar {
    position: relative;
    bottom: 12svh;
    background-color: white;
    color: black;
    z-index: 1000;
}

.cursor-pointer {
    cursor: pointer;
}

.icone-hide {
    cursor: pointer;
}