@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.creepster-regular {
    font-family: "Creepster", system-ui;
    font-style: normal;
    font-size: 20px;
}

p {
    font-size: 13px;
}

.link-felipe {
    font-weight: bold;
}

.link-felipe:hover {
    text-decoration: underline;
    color: blue;
}